[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
quandl = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
fbprophet = "*"
pystan = "*"
pytrends = "*"
spacy = "*"

[requires]
python_version = "3.7"
