[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-script = "*"
pymongo = "*"

[requires]
python_version = "3.7"
