<!doctype html>
<html class="no-js h-100" lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spyyder</title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.3.1"
        href="static/styles/shards-dashboards.1.3.1.min.css">
    <link rel="stylesheet" href="static/styles/extras.1.3.1.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <main class="main-content col-lg-12 col-md-12 col-sm-12 p-0">
                <div class="main-navbar  bg-white">
                    <div class="container p-0">

                    </div> <!-- / .container -->
                </div> <!-- / .main-navbar -->
                <div class="header-navbar collapse d-lg-flex p-0 bg-white border-top">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                                    <li class="nav-item">
                                        <a href="{{url_for('dashboard.root')}}" class="nav-link"><i
                                                class="material-icons">view_day</i>
                                            Trending</a>
                                    </li>




                                    <li class="nav-item dropdown">
                                        <a class="nav-link" data-toggle="dropdown"><i
                                                class="material-icons">&#xE8B9;</i> User Account</a>
                                        <div class="dropdown-menu dropdown-menu-small">
                                            <a href="{{url_for('profile.root')}}" class="dropdown-item">User Profile</a>
                                            <a href="{{url_for('edit.root')}}" class="dropdown-item">Edit User
                                                Profile</a>
                                            <a href="{{url_for('logout.root')}}" class="dropdown-item">Logout</a>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content-container container">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4">

                        <div class="col-12 col-sm-4 d-flex align-items-center">

                        </div>

                    </div>
                    <!-- End Page Header -->
                    <div class="card card-small edit-user-details mb-4">
                        <!-- <div class="card-header p-0">
                            <div class="edit-user-details__bg">
                                <img src="static/images/user-profile/up-user-details-background.jpg"
                                    alt="User Details Background Image">
                                <label class="edit-user-details__change-background">
                                    <i class="material-icons mr-1">&#xE439;</i> Change Background Photo <input
                                        class="d-none" type="file" />
                                </label>
                            </div>
                        </div> -->
                        <div class="card-body p-0">
                            <div class="border-bottom clearfix d-flex">

                            </div>
                            <form action="#" class="py-4">
                                <div class="form-row mx-4">
                                    <div class="col mb-3">
                                        <h6 class="form-text m-0">{{user_data['fullname']}}</h6>
                                        <p class="form-text text-muted m-0">Edit profile details.</p>
                                    </div>
                                </div>
                                <div class="form-row mx-4">
                                    <div class="col-lg-8">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName" value="">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName" value="">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="userLocation">Location</label>
                                                <div class="input-group input-group-seamless">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="material-icons">&#xE0C8;</i>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control" value="">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="phoneNumber">Phone Number</label>
                                                <div class="input-group input-group-seamless">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="material-icons">&#xE0CD;</i>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control" id="phoneNumber" value="">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="emailAddress">Email</label>
                                                <div class="input-group input-group-seamless">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="material-icons">&#xE0BE;</i>
                                                        </div>
                                                    </div>
                                                    <input type="email" class="form-control" id="emailAddress">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="displayEmail">ID</label>
                                                <p>{{user_data['uuid']}}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4">
                                        <label for="userProfilePicture" class="text-center w-100 mb-4">Profile
                                            Picture</label>
                                        <div class="edit-user-details__avatar m-auto">
                                            <img src="static/images/avatars/0.jpg" alt="User Avatar">
                                            <label class="edit-user-details__avatar__change">
                                                <i class="material-icons mr-1">&#xE439;</i>
                                                <input type="file" id="userProfilePicture" class="d-none">
                                            </label>
                                        </div>
                                        <button class="btn btn-sm btn-white d-table mx-auto mt-4"><i
                                                class="material-icons">&#xE2C3;</i> Upload Image</button>
                                    </div> -->
                                </div>
                                <!-- <div class="form-row mx-4">
                                    <div class="form-group col-md-6">
                                        <label for="userBio">Bio</label>
                                        <textarea style="min-height: 87px;" id="userBio" name="userBio"
                                            class="form-control">I'm a design focused engineer.</textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="userTags">Tags</label>
                                        <input id="userTags" name="userTags"
                                            value="User Experience,UI Design, React JS, HTML & CSS, JavaScript, Bootstrap 4"
                                            class="d-none">
                                    </div>
                                </div> -->
                                <!-- <hr>
                                <div class="form-row mx-4">
                                    <div class="col mb-3">
                                        <h6 class="form-text m-0">Social</h6>
                                        <p class="form-text text-muted m-0">Setup your social profiles info.</p>
                                    </div>
                                </div>
                                <div class="form-row mx-4">
                                    <div class="form-group col-md-4">
                                        <label for="socialFacebook">Facebook</label>
                                        <div class="input-group input-group-seamless">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-facebook-f"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="socialFacebook">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="socialTwitter">Twitter</label>
                                        <div class="input-group input-group-seamless">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-twitter"></i>
                                                </div>
                                            </div>
                                            <input type="email" class="form-control" id="socialTwitter">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="socialGitHub">GitHub</label>
                                        <div class="input-group input-group-seamless">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-github"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="socialGitHub">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mx-4">
                                    <div class="form-group col-md-4">
                                        <label for="socialSlack">Slack</label>
                                        <div class="input-group input-group-seamless">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-slack"></i>
                                                </div>
                                            </div>
                                            <input type="email" class="form-control" id="socialSlack">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="socialDribbble">Dribbble</label>
                                        <div class="input-group input-group-seamless">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-dribbble"></i>
                                                </div>
                                            </div>
                                            <input type="email" class="form-control" id="socialDribbble">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="socialGoogle">Google Plus+</label>
                                        <div class="input-group input-group-seamless">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-google-plus-g"></i>
                                                </div>
                                            </div>
                                            <input type="email" class="form-control" id="socialGoogle">
                                        </div>
                                    </div>
                                </div> -->
                                <hr>
                                <div class="form-row mx-4">
                                    <div class="col mb-3">
                                        <h6 class="form-text m-0">Notifications</h6>
                                        <p class="form-text text-muted m-0">Setup which notifications would you like to
                                            receive.</p>
                                    </div>
                                </div>
                                <div class="form-row mx-4">
                                    <label for="conversationsEmailsToggle" class="col col-form-label"> Conversations
                                        <small class="form-text text-muted"> Sends notification emails with updates for
                                            the conversations you are participating in or if someone mentions you.
                                        </small>
                                    </label>
                                    <div class="col d-flex">
                                        <div class="custom-control custom-toggle ml-auto my-auto">
                                            <input type="checkbox" id="conversationsEmailsToggle"
                                                class="custom-control-input" checked>
                                            <label class="custom-control-label" for="conversationsEmailsToggle"></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-row mx-4">
                                    <label for="newProjectsEmailsToggle" class="col col-form-label"> New Projects <small
                                            class="form-text text-muted"> Sends notification emails when you are invited
                                            to a new project. </small>
                                    </label>
                                    <div class="col d-flex">
                                        <div class="custom-control custom-toggle ml-auto my-auto">
                                            <input type="checkbox" id="newProjectsEmailsToggle"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="newProjectsEmailsToggle"></label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-row mx-4">
                                    <label for="vulnerabilitiesEmailsToggle" class="col col-form-label"> Vulnerability
                                        Alerts <small class="form-text text-muted"> Sends notification emails when
                                            everything goes down and there's no hope left whatsoever. </small>
                                    </label>
                                    <div class="col d-flex">
                                        <div class="custom-control custom-toggle ml-auto my-auto">
                                            <input type="checkbox" id="vulnerabilitiesEmailsToggle"
                                                class="custom-control-input" checked>
                                            <label class="custom-control-label"
                                                for="vulnerabilitiesEmailsToggle"></label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row mx-4">
                                    <div class="col mb-3">
                                        <h6 class="form-text m-0">Change Password</h6>
                                        <p class="form-text text-muted m-0">Change your current password.</p>
                                    </div>
                                </div>
                                <div class="form-row mx-4">
                                    <div class="form-group col-md-4">
                                        <label for="firstName">Old Password</label>
                                        <input type="text" class="form-control" id="firstName"
                                            placeholder="Old Password">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="lastName">New Password</label>
                                        <input type="text" class="form-control" id="lastName"
                                            placeholder="New Password">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="emailAddress">Repeat New Password</label>
                                        <input type="email" class="form-control" id="emailAddress"
                                            placeholder="Repeat New Password">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer border-top">
                            <a href="#" class="btn btn-sm btn-accent ml-auto d-table mr-3">Save Changes</a>
                        </div>
                    </div>
                    <!-- End Edit User Details Card -->
                </div>
            </main>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="static/scripts/extras.1.3.1.min.js"></script>
    <script src="static/scripts/shards-dashboards.1.3.1.min.js"></script>
    <script src="static/scripts/app/app-analytics-overview.1.3.1.min.js"></script>
</body>

<!-- Mirrored from designrevision.com/demo/shards-dashboards/header-navigation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2020 17:03:03 GMT -->

</html>