<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  
  <link href="static/thumbnail.jpg" rel="apple-touch-icon">
  <!-- <link href="static/favicon.png" rel="shortcut icon"> -->
  <link href="static/styles.css" rel="stylesheet">
</head>
<body>
  <div class="modal">
  <button type="button" class="modal-close modal-toggle"><i class="icon" data-feather="x"></i><span class="hide-mobile">ESC</span></button>
  <div class="modal-content">
    <div class="success">
      <a href="{{url_for('index.index')}}" class="logo"></a>
      <h2 class="modal-title first-name" id="title-name"></h2>
      <p>You're on the list! We'll be in touch.</p>
      <a href="{{url_for('index.index')}}" class="button">Back home</a>
    </div>
    <div class="form-content">
      <a href="{{url_for('index.index')}}" class="logo"></a>
      <h2 class="modal-title">Join the DiGift Waitlist</h2>
      <p class="modal-subtitle">We're still in early stages, and we'll let you know once we're ready for more beta testers.</p>
      <form class='form' name='DiGift' action="{{url_for('email.email')}}" method='POST'><input type='hidden' name='form-name' value='DiGift' />
        <div class="group">
          <input type="text" id="firstName" name="firstname" placeholder="&nbsp;" autocomplete="off" required>
          <label for="first-name">First name</label>
          <span class="border"></span>
        </div>
        <div class="group">
          <input type="email" name="email" placeholder="&nbsp;" autocomplete="off" required>
          <label for="email">Email</label>
          <span class="border"></span>
        </div>
        <button type="submit" class="button">Join the waitlist</button>
      </form>
    </div>
  </div>
</div>
  <div class="content">
    <div class="hero">
      <h1 class="title">A stock application for</h1>
      <h1 class="title shift clip">
        <span class="word-shift">
          <b class="is-visible">beginners&nbsp;</b>
          <b>the average person</b>
          <b>learners</b>
          <!-- <b>mindful people</b> -->
          <b>balance</b>
          <!-- <b></b> -->
          <b>everyone</b>
        </span>
      </h1>
      <button class="button modal-toggle">Join the waitlist</button>
      <p class="subtitle">Available soon for iPhone <img src="static/logo-apple.svg" alt="apple"/></p>
    </div>
    <!-- <div class="screen-wrapper">
      <img src="static/mac.png" class="screen" alt="screen"/>
    </div> -->

    <!-- </section>
    <section class="section section-providers">
      <h2 class="title">Use with any and all of your email providers</h2>
      <div class="cards">
        <img src="static/overlay-left.svg" class="overlay-left hide-mobile" alt="overlay"/>
        <img src="static/overlay-right.svg" class="overlay-right hide-mobile" alt="overlay"/>
        <div class="slider">
          <div class="slide"><img src="static/card-icloud.svg" alt="icloud"/></div>
          <div class="slide"><img src="static/card-gmail.svg" alt="gmail"/></div>
          <div class="slide"><img src="static/card-outlook.svg" alt="outlook"/></div>
          <div class="slide"><img src="static/card-yahoo.svg" alt="yahooe"/></div>
          <div class="slide"><img src="static/card-pop3.svg" alt="pop3"/></div>
          <div class="slide"><img src="static/card-imap.svg" alt="imap"/></div>
        </div>
      </div>
    </section> -->

    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/scripts.min.js"></script>
<script>

  // Close modal on escape key
  $(document).keyup(function(e) {
    if (e.key === "Escape") {
      $('.modal').removeClass('modal-show');
      $('.content').removeClass('content-blurred');
      $('body').removeClass('no-scroll');
    }
  });

  $(function(){

    // Provider card slider
    $('.slider').flickity({
      pauseAutoPlayOnHover: false,
      prevNextButtons: false,
      cellAlign: 'center',
      draggable:  false,
      freeScroll: false,
      wrapAround: true,
      pageDots: false,
      autoPlay: 3000,
    });

    // Imbox zero slider
    $('.zero-slider').flickity({
      pauseAutoPlayOnHover: false,
      prevNextButtons: false,
      cellAlign: 'center',
      freeScroll: false,
      wrapAround: false,
      draggable: false,
      pageDots: false,
      autoPlay: 3000,
      fade: true,
    });

    // Open & close modal
    $('.modal-toggle').click(function(){
      $('.modal').toggleClass('modal-show');
      $('.content').toggleClass('content-blurred');
      $('body').toggleClass('no-scroll');
    });

    // Reserve username form
    $(".form").submit(function(e) {
      e.preventDefault();
      var $form = $(this);
      $.post($form.attr("action"), $form.serialize()).then(function() {
        $('.form-content').addClass('form-content-hide');
        $('.success').addClass('success-show');
      });
    });

    // Save user's first name
    $(".form").submit(function(e) {
      e.preventDefault();
      var value = $("#firstName").val();
      $('.first-name').text("Thank you," + " " + value + "!");
    });

    // Feather icons
    feather.replace()

    // ScrollReveal
    ScrollReveal().reveal('.hero, .title, .screen, .features, .cards, .zero-slider', {
      distance: '40px',
      duration: 2000,
      mobile: false,
      reset: false,
      opacity: 0
    });

  });
</script>

</body>

</html>