<!doctype html>
<html class="no-js h-100" lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spyyder</title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.3.1"
        href="static/styles/shards-dashboards.1.3.1.min.css">
    <link rel="stylesheet" href="static/styles/extras.1.3.1.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <main class="main-content col-lg-12 col-md-12 col-sm-12 p-0">
                <div class="main-navbar  bg-white">
                    <div class="container p-0">

                    </div> <!-- / .container -->
                </div> <!-- / .main-navbar -->
                <div class="header-navbar collapse d-lg-flex p-0 bg-white border-top">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                                    <li class="nav-item">
                                        <a href="{{url_for('dashboard.root')}}" class="nav-link"><i
                                                class="material-icons">view_day</i>
                                            Trending</a>
                                    </li>




                                    <li class="nav-item dropdown">
                                        <a class="nav-link" data-toggle="dropdown"><i
                                                class="material-icons">&#xE8B9;</i> User Account</a>
                                        <div class="dropdown-menu dropdown-menu-small">
                                            <a href="{{url_for('profile.root')}}" class="dropdown-item">User Profile</a>
                                            <a href="{{url_for('edit.root')}}" class="dropdown-item">Edit User
                                                Profile</a>
                                            <a href="{{url_for('logout.root')}}" class="dropdown-item">Logout</a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content-container container">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4">

                        <div class="col-12 col-sm-4 d-flex align-items-center">

                        </div>

                    </div>
                    <!-- End Page Header -->
                    <!-- Small Stats Blocks -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('http://logok.org/wp-content/uploads/2014/04/Apple-logo-grey-880x625.png');">
                                    <!-- <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('static/images/avatars/0.jpg');">Written by
                                            Anna
                                            Kunis</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="{{url_for('company_detail.root')}}">Apple</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">However venture pursuit he am mr cordial.
                                        Forming musical am
                                        hearing studied be luckily. But in for determine what would see...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://cdn.vox-cdn.com/thumbor/drG69iSTSbsYDNcckVzB3x97pDA=/7x0:633x417/920x613/filters:focal(7x0:633x417):format(webp)/cdn.vox-cdn.com/assets/1311169/mslogo.jpg');">
                                    <!-- <a href="#" class="card-post__category badge badge-pill badge-info">Hot</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/1.jpg');">Written by James
                                            Jamerson</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Microsoft</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">Is at purse tried jokes china ready decay
                                        an. Small its shy
                                        way had woody downs power. To denoting admitted speaking learning my...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://cdn.vox-cdn.com/thumbor/8tLchaDMIEDNzUD3mYQ7v1ZQL84=/0x0:2012x1341/920x613/filters:focal(0x0:2012x1341):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg');">
                                    <!-- <a href="#"
                                        class="card-post__category badge badge-pill badge-royal-blue">Technology</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/2.jpg');">Written by Jimmy
                                            Jackson</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Google</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">Is at purse tried jokes china ready decay
                                        an. Small its shy
                                        way had woody downs power. To denoting admitted speaking learning my...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://img.maximummedia.ie/her_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtaGVyLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE1XFxcLzA4XFxcLzA2MTUzOTM0XFxcL2FtYXpvbi5qcGdcIixcIndpZHRoXCI6NjQwLFwiaGVpZ2h0XCI6MzYwLFwiZGVmYXVsdFwiOlwiaHR0cHM6XFxcL1xcXC93d3cuaGVyLmllXFxcL2Fzc2V0c1xcXC9pbWFnZXNcXFwvaGVyXFxcL25vLWltYWdlLnBuZz9pZD1kNDgyODZlN2RlZWNmYzIzZWVjNlwiLFwib3B0aW9uc1wiOltdfSIsImhhc2giOiI1OGQ5N2MxMTY2NzM3YmFlZDIzODRkNDlmZDYzMzM5MjEzZDYxMWM4In0=/amazon.jpg');">
                                    <!-- <a href="#"
                                        class="card-post__category badge badge-pill badge-warning">Technology</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/3.jpg');">Written by John
                                            James</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Amazon</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">How but sons mrs lady when. Her especially
                                        are unpleasant out
                                        alteration continuing unreserved ready road market resolution...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://logo-logos.com/wp-content/uploads/2018/02/elon-musk-jokes.jpg');">
                                    <!-- <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/0.jpg');">Written by Anna
                                            Kunis</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Tesla</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">However venture pursuit he am mr cordial.
                                        Forming musical am
                                        hearing studied be luckily. But in for determine what would see...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://www.facebook.com/images/fb_icon_325x325.png');">
                                    <!-- <a href="#" class="card-post__category badge badge-pill badge-info">Travel</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/1.jpg');">Written by James
                                            Jamerson</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Facebook</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">Is at purse tried jokes china ready decay
                                        an. Small its shy
                                        way had woody downs power. To denoting admitted speaking learning my...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/102014/salesforce_logo.png?itok=1WQ07iCB');">
                                    <!-- <a href="#"
                                        class="card-post__category badge badge-pill badge-royal-blue">Technology</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/2.jpg');">Written by Jimmy
                                            Jackson</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Salesforce</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">Is at purse tried jokes china ready decay
                                        an. Small its shy
                                        way had woody downs power. To denoting admitted speaking learning my...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://media-exp1.licdn.com/dms/image/C560BAQGOogK4mROSpg/company-logo_200_200/0?e=2159024400&v=beta&t=Uk64zUYE1_5TQ3WrqP9gpNSgBCLy1bNxm-Y-dgf_CfI');">
                                    <!-- <a href="#"
                                        class="card-post__category badge badge-pill badge-warning">Technology</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/3.jpg');">Written by John
                                            James</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Intuit</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">How but sons mrs lady when. Her especially
                                        are unpleasant out
                                        alteration continuing unreserved ready road market resolution...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://cfcdnpull-creativefreedoml.netdna-ssl.com/wp-content/uploads/2017/06/Twitter-featured.png');">
                                    <!-- <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/0.jpg');">Written by Anna
                                            Kunis</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Twitter</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">However venture pursuit he am mr cordial.
                                        Forming musical am
                                        hearing studied be luckily. But in for determine what would see...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://lh3.googleusercontent.com/proxy/eMK4Idc5FlrWMEp6eZJd6I5rrfneBMLfUzVOVALbBVCOyJUzjMxEEH4CPQiVQPhR52ePx0SSh3L8fkmoWOnJdnO_RPBFOhOxPrhSX4o-6G3dq3YqhNZOCLYoCt7AwcISmA');">
                                    <!-- <a href="#" class="card-post__category badge badge-pill badge-info">Travel</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/1.jpg');">Written by James
                                            Jamerson</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Samsung</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">Is at purse tried jokes china ready decay
                                        an. Small its shy
                                        way had woody downs power. To denoting admitted speaking learning my...</p>
                                    <span class="text-muted">March 4 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/800px-Intel-logo.svg.png');">
                                    <!-- <a href="#"
                                        class="card-post__category badge badge-pill badge-royal-blue">Technology</a> -->
                                    <div class="card-post__author d-flex">
                                        <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                            style="background-image: url('images/avatars/2.jpg');">Written by Jimmy
                                            Jackson</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Intel</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">Is at purse tried jokes china ready decay
                                        an. Small its shy
                                        way had woody downs power. To denoting admitted speaking learning my...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-post__image"
                                    style="background-image: url('https://www.smdp.com/wp-content/uploads/2018/08/Adobe_logo_0_0_0_0.jpg');">
                                    <!-- <a href="#"
                                        class="card-post__category badge badge-pill badge-warning">Technology</a> -->
                                    <div class="card-post__author d-flex">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue" href="#">Adobe</a>
                                    </h5>
                                    <p class="card-text d-inline-block mb-3">How but sons mrs lady when. Her especially
                                        are unpleasant out
                                        alteration continuing unreserved ready road market resolution...</p>
                                    <span class="text-muted">4 March 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="static/scripts/extras.1.3.1.min.js"></script>
    <script src="static/scripts/shards-dashboards.1.3.1.min.js"></script>
    <script src="static/scripts/app/app-analytics-overview.1.3.1.min.js"></script>
</body>


</html>