<!doctype html>
<html class="no-js h-100" lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spyyder</title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.3.1" href="styles/shards-dashboards.1.3.1.min.css">
    <link rel="stylesheet" href="static/styles/extras.1.3.1.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <main class="main-content col-lg-12 col-md-12 col-sm-12 p-0">
                <div class="main-navbar  bg-white">
                    <div class="container p-0">

                    </div> <!-- / .container -->
                </div> <!-- / .main-navbar -->
                <div class="header-navbar collapse d-lg-flex p-0 bg-white border-top">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                                    <li class="nav-item">
                                        <a href="trending.html" class="nav-link"><i class="material-icons">view_day</i>
                                            Trending</a>
                                    </li>




                                    <li class="nav-item dropdown">
                                        <a class="nav-link" data-toggle="dropdown"><i
                                                class="material-icons">&#xE8B9;</i> User Account</a>
                                        <div class="dropdown-menu dropdown-menu-small">
                                            <a href="user-test.html" class="dropdown-item">User Profile</a>
                                            <a href="edit-test.html" class="dropdown-item">Edit User Profile</a>
                                            <!-- <a href="login.html" class="dropdown-item">Login</a>
                      <a href="register.html" class="dropdown-item">Register</a>
                      <a href="forgot-password.html" class="dropdown-item">Forgot Password</a>
                      <a href="change-password.html" class="dropdown-item">Change Password</a> -->
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content-container container">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4">

                        <div class="col-12 col-sm-4 d-flex align-items-center">

                        </div>

                    </div>
                    <!-- End Page Header -->
                    <div class="main-content-container container-fluid px-4">
                        <div class="row mt-4">
                            <div class="col-sm-12 col-lg-4">
                                <!-- User Details Card -->
                                <div class="card card-small user-details mb-4">
                                    <div class="card-header p-0">
                                        <div class="user-details__bg">
                                            <img src="static/images/user-profile/up-user-details-background.jpg"
                                                alt="User Details Background Image">
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="user-details__avatar mx-auto">
                                            <img src="static/images/avatars/0.jpg" alt="User Avatar">
                                        </div>
                                        <h4 class="text-center m-0 mt-2">Sierra Brooks</h4>
                                        <p class="text-center text-light m-0 mb-2">I'm a design focused engineer.</p>
                                        <ul
                                            class="user-details__social user-details__social--primary d-table mx-auto mb-4">
                                            <li class="mx-1"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li class="mx-1"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li class="mx-1"><a href="#"><i class="fab fa-github"></i></a></li>
                                            <li class="mx-1"><a href="#"><i class="fab fa-slack"></i></a></li>
                                        </ul>
                                        <div class="user-details__user-data border-top border-bottom p-4">
                                            <div class="row mb-3">
                                                <div class="col w-50">
                                                    <span>Email</span>
                                                    <span>sierra@example.com</span>
                                                </div>
                                                <div class="col w-50">
                                                    <span>Location</span>
                                                    <span>Remote</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col w-50">
                                                    <span>Phone</span>
                                                    <span>+40 1234 567 890</span>
                                                </div>
                                                <div class="col w-50">
                                                    <span>Account Number</span>
                                                    <span>123456789</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-details__tags p-4">
                                            <span
                                                class="badge badge-pill badge-light text-light text-uppercase mb-2 border">User
                                                Experience</span>
                                            <span
                                                class="badge badge-pill badge-light text-light text-uppercase mb-2 border">UI
                                                Design</span>
                                            <span
                                                class="badge badge-pill badge-light text-light text-uppercase mb-2 border">React
                                                JS</span>
                                            <span
                                                class="badge badge-pill badge-light text-light text-uppercase mb-2 border">HTML
                                                & CSS</span>
                                            <span
                                                class="badge badge-pill badge-light text-light text-uppercase mb-2 border">JavaScript</span>
                                            <span
                                                class="badge badge-pill badge-light text-light text-uppercase mb-2 border">Bootstrap
                                                4</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- End User Details Card -->
                                <!-- Contact User -->

                                <!-- End Contact User -->
                                <!-- User Teams -->

                                <!-- End User Teams -->
                            </div>

                            <div class="col-lg-8">
                                <!-- User Statistics -->

                                <!-- End User Statistics -->
                                <!-- Weekly Performance -->

                                <!-- End Weekly Performance -->
                                <!-- User Activity -->
                                <div class="card card-small user-activity mb-4">
                                    <div class="card-header border-bottom">
                                        <h6 class="m-0">User Activity</h6>
                                        <div class="block-handle"></div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="user-activity__item pr-3 py-3">
                                            <div class="user-activity__item__icon">
                                                <i class="material-icons">&#xE7FE;</i>
                                            </div>
                                            <div class="user-activity__item__content">
                                                <span class="text-light">23 Minutes ago</span>
                                                <p>Assigned himself to the <a href="#">Shards Dashboards</a> project.
                                                </p>
                                            </div>
                                            <div class="user-activity__item__action ml-auto">
                                                <button class="ml-auto btn btn-sm btn-white">View Project</button>
                                            </div>
                                        </div>
                                        <div class="user-activity__item pr-3 py-3">
                                            <div class="user-activity__item__icon">
                                                <i class="material-icons">&#xE5CA;</i>
                                            </div>
                                            <div class="user-activity__item__content">
                                                <span class="text-light">2 Hours ago</span>
                                                <p>Marked <a href="#">7 tasks</a> as <span
                                                        class="badge badge-pill badge-outline-success">Complete</span>
                                                    inside the <a href="#">DesignRevision</a> project.</p>
                                            </div>
                                        </div>
                                        <div class="user-activity__item pr-3 py-3">
                                            <div class="user-activity__item__icon">
                                                <i class="material-icons">&#xE7FE;</i>
                                            </div>
                                            <div class="user-activity__item__content">
                                                <span class="text-light">3 Hours and 10 minutes ago</span>
                                                <p>Added <a href="#">Jack Nicholson</a> and <a href="#">3 others</a> to
                                                    the <a href="#">DesignRevision</a> team.</p>
                                            </div>
                                            <div class="user-activity__item__action ml-auto">
                                                <button class="ml-auto btn btn-sm btn-white">View Team</button>
                                            </div>
                                        </div>
                                        <div class="user-activity__item pr-3 py-3">
                                            <div class="user-activity__item__icon">
                                                <i class="material-icons">&#xE868;</i>
                                            </div>
                                            <div class="user-activity__item__content">
                                                <span class="text-light">2 Days ago</span>
                                                <p>Opened <a href="#">3 issues</a> in <a href="#">2 projects</a>.</p>
                                            </div>
                                        </div>
                                        <div class="user-activity__item pr-3 py-3">
                                            <div class="user-activity__item__icon">
                                                <i class="material-icons">&#xE065;</i>
                                            </div>
                                            <div class="user-activity__item__content">
                                                <span class="text-light">2 Days ago</span>
                                                <p>Added <a href="#">3 new tasks</a> to the <a
                                                        href="#">DesignRevision</a> project:</p>
                                                <ul class="user-activity__item__task-list mt-2">
                                                    <li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="user-activity-task-1">
                                                            <label class="custom-control-label"
                                                                for="user-activity-task-1">Fix blog pagination
                                                                issue.</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="user-activity-task-2">
                                                            <label class="custom-control-label"
                                                                for="user-activity-task-2">Remove extra padding from
                                                                blog post container.</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="user-activity__item pr-3 py-3">
                                            <div class="user-activity__item__icon">
                                                <i class="material-icons">&#xE5CD;</i>
                                            </div>
                                            <div class="user-activity__item__content">
                                                <span class="text-light">2 Days ago</span>
                                                <p>Marked <a href="#">3 tasks</a> as <span
                                                        class="badge badge-pill badge-outline-danger">Invalid</span>
                                                    inside the <a href="#">Shards
                                                        Dashboards</a> project.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer border-top">
                                        <button class="btn btn-sm btn-white d-table mx-auto">Load More</button>
                                    </div>
                                </div>
                                <!-- End User Activity -->
                            </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="static/scripts/extras.1.3.1.min.js"></script>
    <script src="static/scripts/shards-dashboards.1.3.1.min.js"></script>
    <script src="static/scripts/app/app-analytics-overview.1.3.1.min.js"></script>
</body>


</html>